{{define "index"}}
<!DOCTYPE html>
<html lang="es-ar">
<head>
<meta charset="utf-8" />
<title>IASis Go - Pilotos</title>
{{template "shared_styles" .}}
</head>
<body>
{{template "shared_nav" .}}
<div class="shell">
  <h2>IASis Go - Pilotos Disponibles</h2>
  <p class="muted">Vista demo en Go, manteniendo la estetica base del IASis original.</p>
  <div class="card">
    <strong>Accesos rapidos</strong>
    <div class="grid-2" style="margin-top:10px;">
      <div>
        <a href="/?m=modulos&f=index">Ver todos los modulos</a><br>
        <a href="/?m=alumnos&f=buscar">Alumnos / Buscar</a><br>
        <a href="/?m=docentes&f=buscar">Docentes / Buscar</a>
      </div>
      <div>
        <a href="/?m=inasistencia&f=asistencia">Asistencia</a><br>
        <a href="/?m=inasistencia&f=boletin">Boletin</a><br>
        <a href="/?m=inasistencia&f=notificaciones">Notificaciones</a>
      </div>
    </div>
  </div>
  <ul>
    <li><a href="/?m=inasistencia&f=asistencia">inasistencia/asistencia</a></li>
    <li><a href="/?m=inasistencia&f=alumnosausentes">inasistencia/alumnosausentes</a></li>
    <li><a href="/?m=inasistencia&f=boletin">inasistencia/boletin</a></li>
    <li><a href="/?m=inasistencia&f=notificaciones">inasistencia/notificaciones</a></li>
    <li><a href="/?m=inasistencia&f=ver_notificaciones">inasistencia/ver_notificaciones</a></li>
    <li><a href="/?m=inasistencia&f=notificacionausente">inasistencia/notificacionausente</a></li>
    <li><a href="/?m=inasistencia&f=notificacionausente&dnix=30111222&fechaxxx=2026-02-16&materiax=Matematica&cursox=1A&turnox=M&tipox=A&vistax=N">inasistencia/notificacionausente (ejemplo)</a></li>
    <li><a href="/?m=inasistencia&f=asistenciaef">inasistencia/asistenciaef</a></li>
    <li><a href="/?m=inasistencia&f=ver_notas">inasistencia/ver_notas</a></li>
    <li><a href="/?m=inasistencia&f=ver_notastodas">inasistencia/ver_notastodas</a></li>
  </ul>
  <p>Uso manual: <code>/?m=&lt;modulo&gt;&f=&lt;funcion&gt;</code></p>
</div>
</body>
</html>
{{end}}
